<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage</title>
    <link rel="stylesheet" href="css/index.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/c95d1b22db.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="page">
        <div class="navigation">
            <div class="navigating-pages">
                <div class="logo">
                    <i class="fa-solid fa-house"></i>
                </div>
                <a>Help</a>
                <a>About us</a>
                <a>News</a>
            </div>
            <div class="login-page">
                <div class="login" style="width: 150px; height: 50px;">
                    <a class="log" href="/login">Log In</a>
                </div>
            </div>
        </div>
        <div class="second">
            <div class="bar">
                <div class="text-site">
                    <h1>Learn coding</h1>
                    <h6>World's largest tutorial channel</h6>
                </div>
                <div class="search-bar">
                    <form class="searching">
                        <input type="text" placeholder="Search from our courses" id="search">
                        <button id="button-search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="social-media">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
    </div>
</body>
</html>